<%= turbo_frame_tag "recipes_tables" do %>
  <div data-controller="recipes-index" data-recipes-index-recipes-value="<%= @query_data %>">
    <div class="overflow-x-auto" id="recipes-table">

    </div>
  </div>
<% end %>