<div class="navbar bg-[#1a232e] text-white w-full">
  <div class="flex-1">
    <%= link_to "Recipe Master", recipes_path, class: "btn btn-ghost text-xl" %>
    <%= link_to "Home", recipes_path, class: "btn btn-ghost text-xl" %>
  </div>
</div>